<%-include('include/header.ejs')%>

<main class="main">
   <input type="text" name="search" class="search" placeholder="search">

   <div class="allrecipes">
      <%if(recipes){%>
      <% for(let i of recipes) {%>
      <div class="recipe">
         <a href="/editrecipe">
         <img src="static/assets/edit.png" width="20" height="20" class="editicon">
      </a>
         <img src="<%=i.recipedestination%>" width="200" height="200">
         <input data-id="<%=i.id%>" hidden id="recipeid"/>
         <label><b><%=i.recipename%></b></label>
         <label><%=i.recipetype%></label>
         <label><%=i.recipeorigin%></label>
         <label><%=i.recipeingredient%></label>
      </div>
      <% }%>
      <% }%>
   </div>
 
</main> 

<%-include('include/footer.ejs')%>